<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iCheck</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  
</head>

<body class="mat-app-background " [ngClass]="{'dark-theme-mode':isDarkTheme}">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="true" [ngStyle]="{'background-color': isDarkTheme ? '#1C1C1E' : 'white'}">
      <div class="siderbar-content">
        <aside class="sidebar">
          <!-- Accordian -->
          <div class="sidebar-content">
            <div class="dash">
              <a routerLink="/ownerdashboard"> <button class="btn1"
                  [ngStyle]="{'background-color': isDarkTheme ? '#1C1C1E' : 'white','border-color': isDarkTheme ? '#848484' : '#E8E8E8'}">
                  <h5><img src="assets/icons/dashboard-grid.svg" alt=""> Dashboard</h5>
                </button></a>
            </div>
            <div class="dash">
              <a routerLink="/companyconfig"> <button class="btn1"
                  [ngStyle]="{'background-color': isDarkTheme ? '#1C1C1E' : 'white','border-color': isDarkTheme ? '#848484' : '#E8E8E8'}">
                  <h5><img src="assets/icons/settings.svg" alt=""> Configuration </h5>
                </button></a>
            </div>
            <div class="dash">
              <a routerLink="/vesselconfig"><button class="btn1"
                  [ngStyle]="{'background-color': isDarkTheme ? '#1C1C1E' : 'white','border-color': isDarkTheme ? '#848484' : '#E8E8E8'}">
                  <h5><img src="assets/icons/vessel.svg" alt=""> Vessels</h5>
                </button></a>
            </div>
            <div class="dash">
              <a> <button class="btn1 active"
                  [ngStyle]="{'background-color': isDarkTheme ? '#36A38D' : '#36A38D','color': isDarkTheme ? 'white' : 'white','border-color': isDarkTheme ? '#848484' : '#E8E8E8'}">
                  <h5><img src="assets/icons/Insights-white.svg" alt=""> Insights</h5>
                </button></a>
            </div>
            <div class="dash">
              <a routerLink="/ownercalendar"> <button class="btn1"
                  [ngStyle]="{'background-color': isDarkTheme ? '#1C1C1E' : 'white','border-color': isDarkTheme ? '#848484' : '#E8E8E8'}">
                  <h5><img src="assets/icons/calendar.svg" alt=""> Calendar </h5>
                </button></a>
            </div>
            <div class="dash">
              <a routerLink="/owneraccesspanel"> <button class="btn1"
                  [ngStyle]="{'background-color': isDarkTheme ? '#1C1C1E' : 'white','border-color': isDarkTheme ? '#848484' : '#E8E8E8'}">
                  <h5><img src="assets/icons/toggle-off.svg" alt=""> Access</h5>
                </button></a>
            </div>
            <div class="dash">
              <a routerLink="/ownerimport"><button class="btn1"
                  [ngStyle]="{'background-color': isDarkTheme ? '#1C1C1E' : 'white','border-color': isDarkTheme ? '#848484' : '#E8E8E8'}">
                  <h5><img src="assets/icons/import.svg" alt=""> Import</h5>
                </button></a>
            </div>

          </div>
        </aside>
        <!-- <button class="sliderToggle" (click)="sliderToggler()">
              <i [ngClass]="{'fa-angle-double-right':!isIconClose, 'fa-angle-double-left': isIconClose}" class="fa"></i>
            </button> -->
      </div>
    </mat-sidenav>

    <mat-sidenav-content style="display: flex; height: 88vh;">
      <!-- <div style="height:100%; width: 40px; align-items: center;display: flex;">
        <div style="background-color: white; width:25px; height:850px">
        <button class="sliderToggle" (click)="sidenav.toggle(); sliderToggler();">
          <img [src]="curentImage" style="width: 39px; height:39px">
           <i [ngClass]="{'fa-angle-double-right':!isIconClose, 'fa-angle-double-left': isIconClose}"
                      class="fa"></i> 
        </button>
        </div>
      </div> -->
      <div class="container-fluid">
        <div class="addCompany">
          <h1 [ngStyle]="{'color': isDarkTheme ? 'white' : 'black'}">Insights</h1>
          <!-- <button type="button"><a routerLink="/add-company">+ Add Company</a></button> -->
        </div>
        <div class="searchbar">
          <i><span><img src="assets/icons/search.svg"></span></i>
          <input class="input-field" type="text" placeholder="Search company name, company code"
            [ngStyle]="{'background-color': isDarkTheme ? '#303030' : '#f8fafb','color': isDarkTheme ? 'white' : 'black'}">
          <i><span><img src="assets/icons/search.svg"></span></i>
        </div>
        <div class="chart-wrapper">
          <div class="insights-row">
            <div class="insightpanl">
              <div class="barchart">
                <h1>Top Question issues</h1>
                <div style="padding: 5px; border-radius: 10px;"
                  [ngStyle]="{'background-color': isDarkTheme ? '#1C1C1E' : 'white'}">
                  <canvas baseChart width="300" height="251" type="bar" [data]="barChartData"
                    [options]="barChartOption"></canvas>
                </div>
              </div>
            </div>
            <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
          <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script> -->
            <div class="insightpanl">
              <div class="Questions">
                <h1>Questions</h1>
                <div style=" padding: 5px; border-radius: 10px;"
                  [ngStyle]="{'background-color': isDarkTheme ? '#1C1C1E' : 'white'}">
                  <canvas class="chart-legend" baseChart width="250" height="251" type="doughnut" [data]="doughnutChartData"
                    [options]="doughnutChartOption" [plugins]="[ChartDataLabels]"></canvas>
                </div>
              </div>
            </div>
            <div class="insightpanl">
              <div class="companies">
                <h1>Companies</h1>
                <div style=" padding: 5px; border-radius: 10px;"
                  [ngStyle]="{'background-color': isDarkTheme ? '#1C1C1E' : 'white'}">
                  <a >View more</a>
                  <canvas baseChart width="300" height="251" type="bar" [data]="barChartData1"
                    [options]="barChartOption1"></canvas>
                </div>
              </div>
            </div>

            


          </div>

        </div>



      </div>


    </mat-sidenav-content>
  </mat-sidenav-container>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/1.1.1/angular-chart.min.js" integrity="sha512-5881VEuHpuoBcF5dkZjzJPjuD27vB+24oomM0SJ72Azk3rToGdFeghdmdJOVduqjLyLvhQ811k9vEbxdUy5IuQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script></body>

</html>