<!-- <div class="header">
        <h2 mat-dialog-title class="dialogTitle">Please Confirm</h2>
     </div> -->
     <div mat-dialog-overlay (click)="closeDialog()"></div>
     <!-- <div> <button type="button" style="border: 0; background-color: transparent; float: right;" (click)="closeDialog()" class="close modalclose"
         data-dismiss="modal" aria-label="Close">
         <img src="assets/icons/delete-circled-outline.svg">
       </button></div> -->
     <div class="dialogContainer"  >
        <!-- <div class="d-flex justify-content-center align-items-center container" [ngStyle]= "{'background-color': isDarkTheme ? '#000000' : 'white'}"> -->
            <div class="card py-5 px-3" [ngStyle]= "{'background-color': isDarkTheme ? '#1C1C1E' : 'white'}">
                <p [ngStyle]= "{'color': isDarkTheme ? 'white' : 'black'}">OTP Verification</p><span class="mobile-text">Enter the OTP sent to<b class="otpemail"> {{data.email}}</b></span>
              
                  <div class="d-flex flex-row mt-8">
                  
                    <input type="text" class="form-control" #txt1 maxlength="1" (keyup)="move($event, '' , txt1, txt2)">
                
                 
                    <input type="text" class="form-control" #txt2 maxlength="1" (keyup)="move($event, txt1 , txt2, txt3)">
                  
                  
                    <input type="text" class="form-control" #txt3 maxlength="1" (keyup)="move($event, txt2 , txt2, txt4)">
             
                 
                    <input type="text" class="form-control" #txt4 maxlength="1" (keyup)="move($event, txt3 , txt4, '')">
                 
                
                </div>
                <div class="text-center" style="padding-top:5px ;" [ngStyle]= "{'color': isDarkTheme ? '
                #DDDDDD' : '#5A5A5A'}">
                  <span>00:{{remainingTime}} Didn't receive the code?</span><div *ngIf="remainingTime === 0">
                    <div style="font-weight: 700;" >
                    <button [disabled]="isResendDisabled" class="resend" (click)="resendOTP()" style="border:0 ;"
                    [ngStyle]= "{'color': isDarkTheme ? 'white' : 'black','background-color': isDarkTheme ? '#1C1C1E' : 'white'}"> Re-send</button></div>
                </div></div>
                <div class="modal-footer" style="display: flex; justify-content:flex-end;">
                  
                  <button type="button" (click)="verifyOTP()">
                    Verify
                  </button>
                  <button type="button" [mat-dialog-close]="false" style="background-color: transparent; color:#B5B5B5; ">
                    Cancel
                  </button>
                  
                </div>
            </div>

     </div>