<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>iCheck</title>

    <!-- responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->


</head>

<body class="mat-app-background " [ngClass]="{'dark-theme-mode':isDarkTheme}" [ngStyle]="{'background-color': isDarkTheme ? '#303030' : 'white'}">

    <div class="container">
        <section class="vh-100">
            <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="gifDiv col-md-9 col-lg-6 col-xl-5">
                        <img *ngIf="isDarkTheme" src="assets/image/ETdark.gif" 
                            alt="Sample image">
                            <img *ngIf="!isDarkTheme" src="assets/image/SquareLogo2.gif" 
                            alt="Sample image">   
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                        <form [formGroup]="forgotPasswordForm">
                            <div
                                class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">

                            </div>

                            <div class="main" [ngStyle]= "{'color': isDarkTheme ? 'white' : 'black'}">

                                <h3 style="font-size: 30px; font-weight: 700; line-height: 36px; 	font-family: 'Inter';
                                                                            ">Forgot Password</h3>
                                <button type="button" routerLink="/login">
                                    <img src="assets/icons/delete-circled-outline.svg">
                                </button>
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <!-- <label class="form-label" for="form3Example3">Email</label>
                                <div class="d-flex password">
                                    <input type="email" formControlName="email" id="form3Example3"
                                        class="form-control-lg input" placeholder="Email" />
                                </div> -->
                                <mat-form-field style="width: 419px;" appearance="outline">
                                    <mat-label>Please Enter your email id</mat-label>
                                    <input formControlName="email" (keyup.enter)="sendOTP()"   matInput placeholder="Enter a email">
                                    <mat-error class="animated shake">
                                    </mat-error>
                                </mat-form-field>

                            </div>

                            <!-- Password input -->




                            <div class="button-login">
                                <button type="button"  (click)="sendOTP()">Send OTP</button>
                            </div>
                            <div role="alert" [ngClass]="className">
                                <p>{{ message }}</p>
                                <!-- <i class="fa fa-info-circle">   </i> --> <span> <img style="width: 28px;
height: 28px;" src="assets/icons/InfoCircle.svg" alt=""> </span>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </section>
    </div>



</body>


</html>