
* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

body { 
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.header .icons{
  display: inline-flex;
}

.icons button{
  margin-top: 30px;
}

.sliderToggle{
  background: transparent;
   outline: 0;
   border: 0;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
  
   /* border-radius: 60%;
   border: 1px solid #36A38D; */
   /* height: 39px; */
   height: 100%;
   /* width:  39px; */
   left: 64px;
   top: 450px;

}
.sliderToggle i{
  color: #36A38D;
  font-size:28px;
  font-weight: lighter;
  transition: transform 0.3s ease-in-out;  
 
}

.siderbar-content{
  display: flex;
  align-items: center;
}
.header button{
  height: 30px;
}
.header img{
	size: 3px;
}
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px; 
  /* line-height: 20px; */
  border-radius: 4px;
}
.header .icon{
	color:#3194A0;
  size: 60px;
}
.header .icon:hover{
	color:#3194A0;
}
.header a.logo {
  font-size: 25px;
  /* font-weight: bold; */
}

.header a:hover {
  /* background-color: #fff; */
  color: #1fa1cd;
}

.header a.active {
  /* background-color: dodgerblue; */
  color: white;
}

.header-right {
  float: right;
}
.header-right a{
	padding-right: 50px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
/* progressBAR */
/* .progress-bar{
  height: 25px;
  background-color: #36A38D;
} */



.sidebar {
  /* position: relative; */
  /* display: inline-flex; */
  justify-content: center;
  /* padding: 0 20px 20px 20px; */
  width: 220px;
  height: 100%;
  overflow: hidden;
  /* min-height: 100%; */
  /* max-height: 100%; */
  /* background-color: #fff; */
  transition: all 200ms ease-in-out;
}

.sidebar-links {
  padding-left: 32px;
}
.sidebar-links button {
  margin-left: 120px;

}

.sidebar-links a{
  text-decoration: none;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #36A38D;
}

.sidebar-links h1{
  font-family: 'Inter';
  padding-top: 15px;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 160%;
color: #000;
}


.main-layout {
  display: flex;
  flex-direction: row;
  transition: all 200ms ease-in;

}

.layout{
padding-top: 20px;
padding-left: 140px;
padding-right: 140px;
}
.example-tree-invisible {
  display: none;
}



.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}


/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}
.example-tree-invisible {
  display: none;
  }
  
  .example-tree ul,
  .example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  }
  
  /* This padding sets alignment of the nested nodes. */
  .example-tree .mat-nested-tree-node div[role="group"] {
  padding-left: 40px;
  }
  
  
  
  .example-tree div[role="group"] > .mat-tree-node {
  padding-left: 40px;
  }
  
  /* h1,
  h3 {
  color: green;
  font-family: "Roboto", sans-serif;
  text-align: left;
  } */
  
  .mat-tree {
  background: transparent;
  }
  
  .mat-tree-node {
  color: black;
  }
  
  .mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
}

.main-layout{
  background-color: #fff;
}

.chapterName{
  display: flex;
  justify-content: space-between;
}

.chapter-no {
  /* display: flex; */
  text-align: center;
  padding-top: 7px;
  /* align-items: center;   */
  width: 150px;
  height: 44px;

  border-radius: 4px;

}

.chapter-no p {
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
/* line-height: 160%; */
color: #8A8A8A;
}

.chapterName .filter{
color: #36A38D;
display: flex;
height:30px;
justify-content: space-around;
}
.filterChips{
  display: flex;
}
.chip{
 border: 1px solid #929292;
 display: flex;
 justify-content: space-between;
 color: #929292;
 border-radius:4px ;
 margin-right: 8px;
 padding:0px 5px;

}

.chapterName p{
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 16px;
}

.under-progressbar h1{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  /* color: #2F3640; */
  font-family:  'Inter';
  word-spacing: normal;

}

.under-progressbar{
 text-align: justify;
}
.previous{
  display: flex;
  justify-content: flex-end;
}

.question-2{
  display: flex;
  justify-content: space-between;
  /* height: 130px; */
}

.question-2 p{
  font-weight: 600;
  font-size: 20px;
  /* width: 75%; */
}

.questionDescription{
    width: 100%;
}

.question-2 span{
  color: #36A38D;
  font-weight: 500;
  font-size: 27px;
}

.guidance-div span{
  color: #36A38D;
  font-weight: 500;
  font-size: 20px;
}


.guidance-div ol li{
  font-size: 18px;
}

.radio-div{
  display: flex;
  padding: 15px 0;
}
.radio-div input[id="satisfactory"]{
  accent-color: #36A38D;
}
.radio-div input[id="not-satisfactory"]{
  accent-color: #36A38D;
}
.radio-div input[id="not-applicable"]{
  accent-color: #36A38D;
}
.radio-div input[id="not-seen"]{
  accent-color: #36A38D;
}

.radio-div .radio{
  margin-left: 20px;
  padding: 5px 10px ;
  /* border-style: solid;
  border-color: gray; */
  border: solid 1px ;
  border-radius: 5px;
}

.radio-div label{
  padding-left: 10px;
  font-weight: 500;
}


/* previous */

.radio-div-previous input[id="satisfactory"]{
  accent-color: #36A38D;
}
.radio-div-previous input[id="not-satisfactory"]{
  accent-color: #36A38D;
}
.radio-div-previous input[id="not-applicable"]{
  accent-color: #36A38D;
}
.radio-div-previous input[id="not-seen"]{
  accent-color: #36A38D;
}

.radio-div-previous .radio{
  margin-left: 20px;
  padding: 5px 10px ;
  /* border-style: solid;
  border-color: gray; */
  border: solid 1px gray;
  border-radius: 5px;
}


.radio-div-previous{
  display: flex;
  justify-content: start;
 font-weight: 500;
}

.remarks-previous-header{
  font-family: 'Inter';
 padding-left: 20px;
 padding-top:20px;
 font-weight: 600;
 color: #000000;

}
.remarks-previous-content{
  font-family: 'Inter';
  font-weight: 400;
font-size: 14px;
  padding-left: 20px;
  padding-top:15px;
  color: #828282;
 }
 





.remarks{
  padding-top: 40px;
}

.remarks h2{
  font-size: 18px;
  font-weight: 700;
}

.remarks p{
  color: gray;
  padding: 15px;
  /* border: 1px solid gray;
  border-radius: 5px; */

}






.modal-footer button{
  background-color: #36A38D;
  padding: 5px 18px;
  border-radius: 20px;
border-style: none;
color: #fff;
}


span a{
  cursor: pointer;
  color: #36A38D;
  font-weight: 500;
  font-size: 20px;
}

.width-80{
  max-width: 80%;
}

.width-60{
  max-width: 70%;

}

.modal-body{
  padding-left: 60px;
}

.edit-body{
  padding: 0;
}

.chatbody{
  padding-left: 0px ;
  padding-bottom: 0px;
}


.chattext{
  margin-top: 10px;
}

.chat p{
  margin-right: 10px;
  text-align: right;
  word-wrap: break-word;
 width:fit-content;
  max-width: 600px;
 
  padding: 5px 10px;
  background-color: #36A38D;
  color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px;
} 










.modal-body-previous{
  padding-top:25px ;
 
}


.filterBody{
  padding-left: 5px;
}

.modal-body h1{
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.modal-body p{
  color: #737373;
}
.modal-title{
  font-family: 'Inter';
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  padding-left: 40px;
  padding-top: 20px;
  color: #4D4D4D;
  width: fit-content;
}
.modal-Communicationtitle{
  font-family: 'Inter';
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;


  color: #4D4D4D;
  width: fit-content;
}
.header-1 h1{
  font-family: 'Inter';
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  
  color: #4D4D4D;
  width: fit-content;
}
.modal-filtertitle{
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #4D4D4D;

}



.popup-content{
 height: 70%;
 padding: 20px;
 border-radius: 0px !important;
}

.modal-container{
  background-color: rgba(0,0,0,0.75);
 /* opacity: 0; */
}

.modal{
  background-color: rgba(0,0,0,0.75);
  right: 20px;

}

.modal-container:target{
  opacity: 1;
}

circle-progress[percent]{
  font-size: 10px;
}


.progress-bar{
  background-color:#36A38D;
  
}
.progress{
  height: 5px;
}

#modal-button{
  color: #36A38D;
  cursor: pointer;
  text-decoration: none;
}
/* Footer */

.footer-btn-div{
  padding: 20px 140px 20px 230px;
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
  bottom: 0;
  z-index: 99;
  
}





.pageno{
  text-decoration: none;
    justify-content: center;
}
.back{
  background-color: rgb(174, 166, 166);
  border: none;
  color: #fff;
  padding: 7px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 18px;
  margin-bottom: 20px;
  /* margin-left: 300px; */
  
}
.next{ 
  background-color: #36A38D;
  border: none;
  color: #fff;
  padding: 7px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 18px;
  margin-bottom: 20px;
  
}

.submit{
  background-color: #36A38D;
  border: none;
  color: #fff;
  padding: 7px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 18px;
  margin-bottom: 20px;
}

.page{
 display: flex;
}
.pagination a{
  text-decoration: none;
  border-radius: 50%;
  border: 1px solid #36A38D;
  margin-right: 10px;
  color: #36A38D;
}


.progress-bar{
  padding-top: 5px;
  margin-top: 10px;
}
/* upload-pic */
.upload-pic .fa{
margin-left: 40px;
border: 2px;
color: grey;
cursor: pointer;

}
.back1{
  border: 0;
  background-color: transparent;
  padding-bottom: 10px;
  padding-right: 15px;
}
.next1{
  border: 0;
  background-color: transparent;
  padding-bottom: 15px;
  
}









/* Hamburger Menu */
.hamburger-menu {
  position: relative;
  width: 40px;
  /* height: 40px; */
  margin: 0 15px;
}
.label-hamburger-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.5s ease;
}

.label-hamburger-menu .bar {
  width: 40px;
  /* height: 4px; */
  background: #fff;
 /* box-shadow: 1px 1px 3px RGBa(0, 0, 0, 0.4);
  */
  border-radius: 1px;
  transition: 0.4s ease;
}
.label-hamburger-menu .bar:not(:first-child) {
  margin-top: 5px;
}
#checkbox-hamburger-menu {
  display: none;
}
#checkbox-hamburger-menu:checked + .label-hamburger-menu {
  transform: translate(-50%, -50%) rotateY(180deg);
}
#checkbox-hamburger-menu:checked + .label-hamburger-menu .bar {
  width: 30px;
  transform: rotateY(180deg) rotateX(360deg);
}
#checkbox-hamburger-menu:checked + .label-hamburger-menu .bar:first-child {
  transform: translateY(9px) rotate(-45deg);
}
#checkbox-hamburger-menu:checked + .label-hamburger-menu .bar:nth-child(2) {
  opacity: 0;
}
#checkbox-hamburger-menu:checked + .label-hamburger-menu .bar:nth-child(3) {
  transform: translateY(-10px) rotate(45deg);
}
/* Home Section */
.home-section {
  position: relative;
  background-image: radial-gradient(circle farthest-corner at 7.2% 13.6%, rgba(37, 249, 245, 1) 0%, rgba(8, 70, 218, 1) 90%);
 /* background-image: radial-gradient(circle farthest-corner at 7.2% 13.6%, #25f9f5 0%, #0846da 90%);
  */
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
}
.home-section .home-header {
  height: 80px;
  display: flex;
  align-items: center;
}
.home-section .home-header .title {
  color: white;
  font-size: 35px;
}
.home-section .home-header .title {
  font-size: 26px;
  font-weight: 600;
}
.home-section .home-view {
 /* height: 100%;
  */
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
/* Sidebar */
/* .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: white;
  z-index: 100;
  transition: all 0.5s ease;
} */
.sidebar.sidebar-close {
  width: 60px;
}
.sidebar .logo-details {
  width: 100%;
  padding: 20px 10px 10px 10px;
}
/* .sidebar.sidebar-close .logo-details {
  padding: 20px 10px;
}
*/
.sidebar .logo-details .logo {
  /* height: 40px; */
  width: 100%;
  background-image: linear-gradient(to right, #ffa726, #ff5722);
}
.sidebar.sidebar-close .logo-details .logo {
  border-radius: 3px;
}
.sidebar .nav-links {
  /* height: 100%; */
  /* width: 260px; */
  /* padding-bottom: 150px; */
  height: 100%;
  padding-right: 0px;
  overflow: auto;
}
.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}
.sidebar .nav-links li {
  list-style: none;
}
.sidebar .nav-links > li {
  position: relative;
  width: fit-content;
}
/* .sidebar .nav-links li:hover {
  background: #fff;
} */
.sidebar .nav-links li.active {
  background-image: linear-gradient(to right, #fff, #fff);
}
/* Dropdown Title */
.sidebar .nav-links .dropdown-title {
  /* width: 260px; */
  overflow: hidden;
  transition: all 0.52s ease;
  /* padding-bottom: 20px; */
 /* */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.sidebar.sidebar-close .nav-links .dropdown-title {
  width: 60px;
}
.dropdown-title{
  width:150px
}
/* Dropdown Button */
.sidebar .nav-links li i {
  height: 50px;
  /* min-width: 65px; */
  text-align: center;
  line-height: 50px;
  color: #000;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li:hover i, .sidebar .nav-links li.active i {
  color: white;
}
.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}
/* a Tag */
.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
}
/* Link Name */
.sidebar .nav-links li a .link_name {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover a .link_name, .sidebar .nav-links li.active a .link_name {
  color: black;
}
.sidebar.sidebar-close .nav-links li a .link_name {
  pointer-events: none;
}
/* Sub Menu */
.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 15px;
 /* margin-top: -10px;
  */
  /* background: white; */
  display: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li.showMenu .sub-menu {
  display: block;

}
.sidebar .nav-links li .sub-menu a {
  color: #000;
  font-size: 15px;
  padding: 7px 0;
  white-space: nowrap;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu li {
  padding-left: 10px;
}
.sidebar .nav-links li .sub-menu li:hover a, .sidebar .nav-links li .sub-menu li.active a {
  color: black;
}
.sidebar.sidebar-close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 0;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
  overflow: hidden;
}
.sidebar.sidebar-close .nav-links li .sub-menu li {
  padding: 6px 15px;
  width: 200px;
}
.sidebar.sidebar-close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}
.sidebar.sidebar-close .nav-links li .sub-menu .link_name {
  font-size: 16px;
  font-weight: 600;
 /* opacity: 1;
  */
  display: block;
}
/* li:first-child contain .link_name */
.sidebar.sidebar-close .nav-links li .sub-menu li:first-child {
  background: white;
  pointer-events: none;
}
.sidebar.sidebar-close .nav-links li .sub-menu li:first-child:hover .link_name, .sidebar.sidebar-close .nav-links li .sub-menu li:first-child.active .link_name {
  color: #fff;
}
.sidebar .nav-links li .sub-menu.blank {
  pointer-events: auto;
 /* padding: 3px 20px 6px 16px;
  */
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank, .sidebar .nav-links li.active .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
  
}
.sidebar.sidebar-close ~ .home-section {
  left: 60px;
  width: calc(100% - 60px);
}



.nav-links li:before {
  content:"";
  position: relative;
  position: absolute;
  border-left: 1px solid #E8E8E8;
  left: 8px;
  height: 100%;

}


.nav-links li:first-child::before{
  top: 30px;
}

.nav-links li:last-child::before{
  height: 25px;
}

.img-container{
  /* position: absolute; */
  z-index: 99!important;
}


ul {  
  list-style-type: none; 
  } 
  .modal-header .modalclose{
        border: none;
        background-color: transparent;
  }
  .modal-Communicationheader{
    height: 125px

  }
  
  .modalclose img{
    font-weight: 100px;
    color: #4D4D4D;
  }

.filterdialog{
  margin-right: 120px;
  padding-bottom: 200px;
}
.filtercontent{
 border-radius: 0px !important;
}


.modal-body input[type="checkbox"]:checked{
  color: #36A38D;
}

.expansion-panal{
  display: flex;
  justify-content: space-between;
}

/* Searchbar */

.searchbar {
  border: 0;
  outline: 0;
  width: 100%;
  margin-bottom: 10px;
  background: transparent;
  border-bottom: 1px solid #000;
}

.circle-percentage{
  color: red;
}
.searchbar .input-field{
  outline: 0;
   border: none;
   background-color: transparent;
   width: 80%;
   /* border-bottom: 1px solid #000; */
}
.row{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px; 
  color: #81858B;
}

.header-1{
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.header-2{
  width: 80%;
  
}


/* ::-webkit-scrollbar {
  width: 8px;
  overflow-y: scroll;
  background: #E8E8E8;
  box-shadow: inset 0 0 4px #707070;
  margin-right: 10%;
}


::-webkit-scrollbar-thumb {
  background: #36A38D;
  border-radius: 25px;
} */



.scroller {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
}

/* width */









.current-chapter {
  color: red;
}



.upload{
  display: flex;
}
.textLink {
  cursor: pointer;
  color: rgb(20, 26, 188);
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  padding: 10px;
}
.textLink img{
  margin-right: 5px;
}
.imgpreview img {
  margin: 0;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  display: flex;

 
 }
 .previewImage{
  border-radius:8px 8px 0px 0px;

 }
 .imgpreview{
  margin-left: 20px;
  width: 100px;
 
 }
 .previewName{
  height: 60px;
  border-radius:0px 0px 8px 8px;
  padding-top: 5px;
  padding-bottom: 5px;

 
  
 }
 .downloadicon{
  position: absolute;
  margin-bottom: 200px;
  background-color:transparent;
  /* color: rgb(206, 16, 16); */
  padding: 5px 70px;
  border-radius: 5px;
  cursor: pointer;
}
 .removeicon{
  background: transparent;
  margin-left: 40px;
  margin-bottom: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  border: none;
  outline: none;
  height: 15px;
  width: 15px;
 }

 .previewDiv{
  display: flex;
  
 }
 .editButton{
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid rgba(72, 170, 154, 0.16);
  padding: 5px 10px;
  /* margin-left: 20px; */
 }

 .editButton:hover {
  background-color: #36A38D;
  color: white;
}


.chatbody{
  padding-left: 0px ;
  padding-bottom: 0px;
}

.chatArea{
  padding: 0 20px;
  overflow-y: auto  ; 
}


.chattext{
  margin-top: 10px;
  padding: 0 20px;

}

.chat p{
  margin-right: 10px;
  text-align: right;
  word-wrap: break-word;
 width:fit-content;
  max-width: 600px;
  padding: 5px 10px;
  background-color: #E9E9EB;
  color: #000;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0px;
} 

.senderChat{
  display:flex;
  justify-content:flex-end;
}

.senderChat p {

  margin-right: 10px;
  text-align: right;
  word-wrap: break-word;
 width:fit-content;
  max-width: 600px;
  padding: 5px 10px;
  background-color: #36A38D;
  color: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 10px;
}

input[type="file"] {
  display: none;
}

input[matInput] {
  background-color: transparent;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  /*color for mat-form-field outline*/
  color: red;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  /*color for mat-form-field thick outline*/
  border-color: red;
}


.ck.ck-editor {
  background-color: red;
}


.datetime h5{
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #36A38D; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
}
.datetime h5 span { 
  padding:0 10px; 
}

@media (max-width: 420px) {
  .sidebar.sidebar-close .nav-links li .sub-menu {
    display: none;
 }
}

@media (max-width: 1370px) {
  .layout{
    padding: 20px 40px;
  }

  .wrapper{
    height: 100%;
  }
  .footer-btn-div{
    padding-right: 20px;
  }
}



