*{
    font-family: 'Inter', sans-serif;
}



.wrapper{
    background-color: whitesmoke;
    height: 950px;
}

.company-container{
    padding-left:  100px;
}
/* Header */
.header {
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid rgb(185, 181, 181);
}

.header .icons {
    display: inline-flex;
}

.icons button {
    margin-top: 30px;
}


.header button {
    height: 30px;
}

.header img {
    size: 3px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    /* line-height: 20px; */
    border-radius: 4px;
}

.header .icon {
    color: #3194A0;
    size: 60px;
    
}

.header .icon:hover {
    color: #3194A0;
}

.header a.logo {
    font-size: 25px;
    /* font-weight: bold; */
}

.header a:hover {
    background-color: #fff;
    color: #1fa1cd;
}

.header a.active {
    background-color: dodgerblue;
    color: rgb(19, 19, 19);
}

.header-right {
    float: right;
}

.header-right a {
    padding-right: 50px;
}

h3{
    color:#36A38D;
    cursor: pointer;
    padding: 20px 0px;
    font-size: 20px;

}

.addCompany{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.container-fluid{
    padding: 25px 60px;
}

.addCompany h1{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #2F3640 ;
}

.addCompany button{
    background-color: #36A38D;
    border: none;
    color: #fff;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 100px;
    gap: 10px;
}

.addCompany button a{
    color: #fff;
    text-decoration: none;
}



.searchbar {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.searchbar input{
    background-color: transparent;
    width: 80%;
    color: #2F3640;
}

.searchbar i {
    color: #989898;
    height: 10px;
    width: 10px;
    position: absolute;
  top: 100px;
  /* left: 180px;  */
  font-size: 15px;
}


.searchbar i p {
    /* padding-left: 1250px; */
    font-size: 18px;
    bottom: 10px;
}

.input-field {
    /* width: 100%; */
    padding: 10px;
    padding-left: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #989898;    
}

.input-field:focus {
    /* width: 100%; */
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #36A38D;
}

.input-field:focus + i{
    color: #36A38D;
}
.companytable{
    width: 80%;
}
thead{
    text-align: center;
}

thead th{
    /* background-color: #fff; */
    padding: 10px 0;
    font-size: 16px;
    line-height: 17px;
    /* color: #2F3640; */
}

tr{
    text-align: center;
    color: #5C5C5C;
}

td{
    border-bottom: 1px solid ;
}

td .btn-danger i{
    color: red;
    outline: none;

}
td .btn-success i{
    color: #36A38D;
    outline: none;

}

td .btn{
    background: transparent;
    border: none;
}


.modal-container{
    background-color: rgba(0,0,0,0.75);
   /* opacity: 0; */
  }

  .modal-footer .btn{
    background-color: #36A38D;
    padding: 5px 18px;
    border-radius: 20px;
  border-style: none;
  color: #fff;
  }

  .modal-footer .btn-secondary{
    background-color: gray;
    padding: 5px 18px;
    border-radius: 20px;
  border-style: none;
  color: #fff;
  }
  .sliderToggle{
    background: transparent;
     outline: 0;
     border: 0;
    box-sizing: border-box;
    transition: all 200ms ease-in-out;
     /* border-radius: 60%; */
     /* border: 1px solid #36A38D; */
     height: 39px;
     width:  39px;
     left: 64px;
     top: 450px;  
     height: 100%;
  }
  .sliderToggle i{
    color: #36A38D;
    font-size:28px;
    font-weight: lighter;
    transition: transform 0.3s ease-in-out;  
   
  }
  
  .siderbar-content{
    display: flex;
    align-items: center;
  }

  .sidebar {
    position: relative;
    /* display: inline-flex; */
    justify-content: center;
    /* padding: 20px; */
    width: 250px;
    /* height: 100%; */
    min-height: 100%;
    /* max-height: 100%; */
    background-color: #fff;
    transition: all 200ms ease-in-out;
    width: 250px;
    height: 100%;

  }

  .sidebar h5{
    font-weight: 500px;
    font-size: 16px;
    padding-top: 18px;
  }
  
  .sidebar h5 img{
    width: 25px;
    height: 20px;
  }
  .siderbar-content button{
    width: 100%;
    height: 70px;
    border: 0.1px solid #E8E8E8;
    background-color: #fff;
    color: #848484;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
    word-spacing: 15px; 
  }
  .sidebar a{
    text-decoration: none;
  }

  .siderbar-content .active{
    background-color: #36A38D;
    color: #fff;
  }
  
