<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="assets/icons/style.css"> -->
    <title>iCheck</title>
</head>

<body  class="mat-app-background " [ngClass]="{'dark-theme-mode':isDarkTheme}">
    <h3><a routerLink="/ownerdashboard"><span><img src="assets/icons/back.svg"
        style="height:22px; width: 22px; margin-bottom: 4px;"></span> Go back</a></h3>
    <div class="container"  [ngStyle]= "{'background-color': isDarkTheme ? '#303030' : '#fafafa'}">
        <h1 [ngStyle]= "{'color': isDarkTheme ? 'white' : '#2F3640'}">Open observations</h1>
        <div class="searchbar" >
            <img src="assets/icons/search.svg">
            <input class="input-field" type="text" 
            placeholder="Search Inspection, Tracking ID"  [ngStyle]= "{'background-color': isDarkTheme ? '#303030' : '#f8fafb','color': isDarkTheme ? 'white' : 'black'}">
        </div>
    <table>
       <thead [ngStyle]= "{'background-color': isDarkTheme ? '#1C1C1E' : 'white'}">
        <th>
            Inspection ID
        </th>
        <th>
            Vessel Name
        </th>
        <th>
            No of opening
        </th>
        <th>
            Opening date
        </th>
        <th>
            Expiry date
        </th>
        <th>
            
        </th>

       </thead>

       <tbody>
        <tr [ngStyle]= "{'color': isDarkTheme ? '#DDDDDD' : '#5C5C5C'}" *ngFor="let e of data | unique:'nameOfVessel' ">
            <td>
              #0001
            </td>
            <td>
                {{ e.nameOfVessel }}
            </td>
            <td>
                {{ countDocuments(e.nameOfVessel) }}
            </td>
            <td>
                31.03.2021
            </td>
            <td>
                31.04.2021
            </td>
            <td (click)="sendVesselName(e.nameOfVessel);" style="color: #36A38D;font-size: 16px;font-weight: 600;">
                <span style="cursor:pointer">Open</span>
            </td>

        </tr>

       </tbody>
    </table>
</div>
</body>

</html>